/* CSS comments have a different C-like format */
body {
   padding: 20px;
   background-image: url('images/dark_fish_skin.png');
   color: #003300;
}

a {
   color: #003300;
   text-decoration: none;
   font-weight: bold;
}

#container {
   background-color: white;
   padding: 20px;
   width: 840px;
   margin: 0 auto;
   overflow: auto;
   background-image: url('images/eight_horns.png');
}

.header-image {
   position: relative;
}

.header-image img {
   width: 100%;
}

.header-image .caption {
   background-color: white;
   opacity: .4;
   color: black;

   position: absolute;
   bottom: 10px;
   right: 10px;
   padding: 5px 15px;
}
h1 {
   border-bottom: 1px dashed black;
}
h3 {
   font-weight: normal;
}
p, li {
   color: black;
}

/* New stuff for class 3 */
#main {
   width: 600px;
   float: left;
}

#sidebar {
   width: 200px;
   float: left;
}

#sidebar ul {
   padding-left: 0px;
}

#sidebar li {
   list-style: none;
}

#sidebar li a {
   display: block;
   padding: 10px;
}

#sidebar li a:hover {
   background-color: rgba(0, 255, 0, .2);
   color: black;
}

/* Contact Table */
.contact-table {
   width: 100%;
   border: 1px solid #999;
   border-collapse:separate;
   border-spacing: 0px;
}

.contact-table td:first-child {
   font-weight: bold;
}

.contact-table td {
   padding: 10px 5px;
   border-bottom: 1px solid #aaa;
}

.contact-table tr{
   background-color: #eee;
}

.social-icon {
   width: 60px;
   margin-right: 20px;
}

.contact-map {
   margin-top: 10px;
   border: 1px solid #aaa;
}
/* End Contact Table */

footer {
   width: 100%;
   float: left;
   border-top: 1px solid #aaa;
   text-align: center;
   font-size: 10px;
   padding-top: 20px;
   margin-top: 10px;
}