/* CSS comments have a different C-like format */
body {
   padding: 20px;
   background-image: url('images/dark_fish_skin.png');
   color: #003300;
}

a {
   color: #003300;
   text-decoration: none;
   font-weight: bold;
}

#content {
   background-color: white;
   padding: 20px;
   width: 600px;
   margin: 0 auto;
   background-image: url('images/eight_horns.png');
}

.header-image {
   width: 100%;
}

h1 {
   border-bottom: 1px dashed black;
}

h3 {
   font-weight: normal;
}

ul li {
   list-style: square;
}

p, li {
   color: black;
}